body{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    flex: 1;
}
.main{
    display: flex;
}
#numDiv {
    flex-grow: 10;
    max-width: 900px;
}
.functions{
    flex-grow: 2;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color:#efefef;
    width: 960px;
  }
  
  .flex-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 75px;
    font-size: 72px;
    color: white;
    font-weight: bold;
  }


  .num:nth-child(1){
      background: #000000;
  }
  .num:nth-child(2){
    background: #2B8EAD;
}
.num:nth-child(3){
    background: #333333;
}
.num:nth-child(4){
    background: #6F98A8;
}
.num:nth-child(5){
    background: #4F4F4F;
}
.num:nth-child(6){
    background: #BFBFBF
}
.num:nth-child(7){
    background: #EFEFEF;
}
.num:nth-child(8){
    background: #2F454E;
}
.num:nth-child(9){
    background: #72C3DC;
}
  

  @media screen and (max-width: 500px) {
      body{
          background-color: black;
      }
      h1{
          color: white;
      }
    .main{
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }
    .flex-container {
        width: 100%;
      }
    .flex-container > div {
       width: 100%;
       background: lightgrey !important;
       color: black;
       height: 100px;
       font-size: 36px;
       margin: 5px;
      }
      footer{
          background-color: white;
      }

      .num:nth-child(1){
        border-left: 10px solid #000000;
    }
    .num:nth-child(2){
      border-left: 10px solid #2B8EAD;
  }
  .num:nth-child(3){
      border-left: 10px solid #333333;
  }
  .num:nth-child(4){
      border-left: 10px solid #6F98A8;
  }
  .num:nth-child(5){
      border-left: 10px solid #4F4F4F;
  }
  .num:nth-child(6){
      border-left: 10px solid #BFBFBF
  }
  .num:nth-child(7){
      border-left: 10px solid #EFEFEF;
  }
  .num:nth-child(8){
      border-left: 10px solid #2F454E;
  }
  .num:nth-child(9){
      border-left: 10px solid #72C3DC;
  }
  }